<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Pixoglyphe - Accueil</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}" />
	<link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='style4.css') }}">
</head>

<body>

    <!-- MENU -->
    <nav>
        <ul>
            <li><a href="{{ url_for('main.accueil') }}">Accueil</a></li><!--
            --><li><a href="{{ url_for('main.analyse') }}">Analyse</a></li><!--
            --><li><a href="{{ url_for('main.label') }}">Labellisation</a></li><!--
            --><li><a href="{{ url_for('main.detec') }}">Détection</a></li><!--
            --><li><a href="{{ url_for('main.histo') }}">Historique</a></li><!--
            --><li><a href="{{ url_for('main.biblio') }}">Bibliothèque</a></li><!--
            --><li><a href="{{ url_for('main.ap') }}">A propos</a></li><!--
            --><li><a href="{{ url_for('auth.logout') }}">Déconnexion</a></li>
        </ul>
    </nav>

    <!-- IMAGE BORD GAUCHE -->
    <img id="Barre" src="{{ url_for('static', filename = 'barre.png') }}" width="5%">

    <!--TITRE-->
    <h1> Bienvenue sur le site Pixoglyphe</h1>

    <!--BLOCK JAUNE-->
    <div id="blockaccueil">
        <p>
            Le site <i>Pixoglyphe</i> vous permet d'analyser hiéroglyphes et scènes complètes ! Pour cela, il vous suffit de vous rendre 
            dans les onglets <a href="{{ url_for('main.analyse') }}"><strong>Analyse</strong></a> et <a href="{{ url_for('main.detec') }}"><strong>Détection</strong></a>. 
            L'onglet <a href="{{ url_for('main.analyse') }}"><strong>Analyse</strong></a> permet d'identifier les différents contextes d'utilisation d'un hiéroglyphe.
            L'ensemble des signes connus par le modèle de classification est disponible dans la <a href="{{ url_for('main.biblio') }}">bibliothèque des signes</a>.
            La partie <a href="{{ url_for('main.detec') }}">détection</a>, quant à elle, vous permettra d'analyser une scène complète et d'identifier 
            les différents hiéroglyphes qu'elle contient.  
            L'historique de vos analyses de similarité vous est proposé dans l'onglet <a href="{{ url_for('main.histo') }}"><strong>Historique</strong></a> où vous retrouverez l'image que vous avez analysée ainsi que la classe prédite par le modèle.
            <p>N'oubliez pas, vous pouvez nous aider activement en vous rendant dans l'onglet <a href="{{ url_for('main.label') }}"><strong>Labellisation</strong></a> ! </p>
        </p>
    </div>
    <div id="espace">
    </div>

    <!--ANIMATION https://www.guyom-design.com/blog/astuces/css/tuto_diapo_css/#! -->

    <div class="contenu_carou_auto">
      <div class="caroussel-image">
      <img src="{{ url_for('static', filename = 'D4.jpg') }}" alt>
      <img src="{{ url_for('static', filename = 'D21.png') }}" alt>
      <img src="{{ url_for('static', filename = 'F35.jpg') }}" alt>
      <img src="{{ url_for('static', filename = 'G17.jpg') }}" alt>
      <img src="{{ url_for('static', filename = 'V30.png') }}" alt>
      <img src="{{ url_for('static', filename = 'N35.png') }}" alt>
      <img src="{{ url_for('static', filename = 'M17.jpg') }}" alt>
      <img src="{{ url_for('static', filename = 'X8.jpg') }}" alt>
      </div>
      </div>

   <div id="espace">
    </div>

       
</body>
</html>