<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Pixoglyphe - Analyse</title>
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='style4.css') }}" />
</head>

<body>

    <!-- MENU -->
    <nav>
        <ul>
            <li><a href="{{ url_for('main.accueil') }}">Accueil</a></li><!--
            --><li><a href="{{ url_for('main.analyse') }}">Analyse</a></li><!--
            --><li><a href="{{ url_for('main.label') }}">Labellisation</a></li><!--
            --><li><a href="{{ url_for('main.detec') }}">Détection</a></li><!--
            --><li><a href="{{ url_for('main.histo') }}">Historique</a></li><!--
            --><li><a href="{{ url_for('main.biblio') }}">Bibliothèque</a></li><!--
            --><li><a href="{{ url_for('main.ap') }}">A propos</a></li><!--
            --><li><a href="{{ url_for('auth.logout') }}">Déconnexion</a></li>
        </ul>
    </nav>

    <!-- IMAGE BORD GAUCHE -->
    <img id="Barre" src="{{ url_for('static', filename = 'barre.png') }}" width="5%">

    <!--TITRE-->
    <h1> Analysez vos images</h1>

    <!--BLOCK JAUNE-->
    <div id="blockaccueil">
        <p>
           Afin d'identifier les différents contextes d'utilisation d'un hiéroglyphe de votre choix il vous faut suivre les étapes suivantes :
           <p><strong>Etape 1 : </strong>Selectionnez une image du hiéroglyphe dont vous souhaitez obtenir les images similaires, </p>
           <p><strong>Etape 2 : </strong>Lancez l'analyse, </p>
           <p><strong>Etape 3 : </strong>Visualisez les résultats : la prédiction de la classe de votre hiéroglyphe ainsi qu'une liste de six images similaires. </p>
        </p>
    </div>

    <!--TITRE ANALYSE-->
    <h2>J'analyse un signe </h2>
    <div id="espace"></div>
    
    <!--TELECHARGEMENT DE L IMAGE-->
    <div id ="bouton">
        <form method=post enctype=multipart/form-data>
         <!-- <div class="parent-div"> 
          <button class="btn-upload">Choisir le fichier</button> -->
            <input type=file name=file>
          <!-- </div> -->
            <input type=submit value="Lancer l'analyse">
        </form>
    </div>

    <div id="espace"></div>

    <div class="gallery2">  
      {% if image%}
      <img src="data:image/jpg;base64,{{  image|safe }}" alt="Main Image" height="150" width="150">
      <div class="desc2"><td>Prédiction : {{ label }}</td></div>
      {% endif %}
     {% for img_name,label_simi in results %}
    </div>
    
                <div class="gallery2"><tr> 
                    <td><img src="data:image/jpg;base64,{{ img_name|safe }}"  height="150" width="150"></td>
                    <div class="desc2"><td>{{ label_simi }}</td></div>
                </tr></div>
            {% endfor %}

    <!-- ANIMATION DE CHARGEMENT -->


   <!-- <div class="cs-loader">
        <div class="cs-loader-inner">
          <label>●</label>
          <label>●</label>
          <label>●</label>
          <label>●</label>
          <label>●</label>
          <label>●</label>
        </div>
      </div>-->

      <!--<div class="container">
        <div class="row cf">
          <div class="three col">
            <div class="loader" id="loader-1"></div>
          </div>
          <div class="three col">
            <div class="loader" id="loader-2">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="three col">
            <div class="loader" id="loader-3"></div>
          </div>
          <div class="three col">
            <div class="loader" id="loader-4">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
    
        <div class="row cf">
          <div class="three col">
            <div class="loader" id="loader-5">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="three col">
            <div class="loader" id="loader-6">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="three col">
            <div class="loader" id="loader-7"></div>
          </div>
          <div class="three col">
            <div class="loader" id="loader-8"></div>
          </div>
        </div>
      </div>-->


      
</body>
</html>