<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Pixoglyphe - Accueil</title>
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='style4.css') }}" />
</head>

<body>

    <!-- MENU -->
    <nav>
        <ul>
            <li><a href="{{ url_for('main.accueil') }}">Accueil</a></li><!--
            --><li><a href="{{ url_for('main.analyse') }}">Analyse</a></li><!--
            --><li><a href="{{ url_for('main.label') }}">Labellisation</a></li><!--
            --><li><a href="{{ url_for('main.detec') }}">Détection</a></li><!--
            --><li><a href="{{ url_for('main.histo') }}">Historique</a></li><!--
            --><li><a href="{{ url_for('main.biblio') }}">Bibliothèque</a></li><!--
            --><li><a href="{{ url_for('main.ap') }}">A propos</a></li><!--
            --><li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
        </ul>
    </nav>

    <!-- IMAGE BORD GAUCHE -->
    <img id="Barre" src="{{ url_for('static', filename = 'barre.png') }}" width="5%">

    <!--TITRE-->
    <h1> Analysez vos images</h1>

    <!--BLOCK JAUNE-->
    <div id="blockaccueil">
        <p>
            Le site <i>Pixoglyphe</i> vous permet d'analyser des scènes contenant différents signes hiéroglyphiques. Pour cela, il vous suffit d'importer une image et de lancer l'analyse. L'analyse peut durer quelques minutes et vous permettra de visualiser les différents signes présents sur la scène. Il vous suffira alors de cliquer sur un signe pour obtenir les images similaires. N'oubliez pas, vous pouvez nous aider activement en vous rendant dans l'onglet "Labellisation". 
        </p>
    </div>

    <!--TITRE ANALYSE-->
    <h2>J'analyse un signe </h2>

    <!--TELECHARGEMENT DE L IMAGE-->
    <div>
        <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
    </div>

    <div class="gallery2">  
     <br>
    {% if image%}
    <div class="desc2"><td>Prédiction : {{ label }}</td></div>
      <img src="data:image/jpg;base64,{{  image|safe }}" alt="Main Image" height="150" width="150"><br>
      {% endif %}
     {% for img_name,label_simi in results %}
    </div>
    
                <div class="gallery2"><tr> 
                    <td><img src="data:image/jpg;base64,{{ img_name|safe }}"  height="150" width="150"></td>
                    <div class="desc2"><td>{{ label_simi }}</td></div>
                </tr></div>
            {% endfor %}

    <!-- ANIMATION DE CHARGEMENT -->


   <!-- <div class="cs-loader">
        <div class="cs-loader-inner">
          <label>●</label>
          <label>●</label>
          <label>●</label>
          <label>●</label>
          <label>●</label>
          <label>●</label>
        </div>
      </div>-->

      <!--<div class="container">
        <div class="row cf">
          <div class="three col">
            <div class="loader" id="loader-1"></div>
          </div>
          <div class="three col">
            <div class="loader" id="loader-2">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="three col">
            <div class="loader" id="loader-3"></div>
          </div>
          <div class="three col">
            <div class="loader" id="loader-4">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
    
        <div class="row cf">
          <div class="three col">
            <div class="loader" id="loader-5">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="three col">
            <div class="loader" id="loader-6">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="three col">
            <div class="loader" id="loader-7"></div>
          </div>
          <div class="three col">
            <div class="loader" id="loader-8"></div>
          </div>
        </div>
      </div>-->


      
</body>
</html>