<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Pixoglyphe - A propos</title>
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='style4.css') }}">
</head>

<body>

    <!-- MENU -->
    <nav>
        <ul>
            <li><a href="{{ url_for('main.accueil') }}">Accueil</a></li><!--
            --><li><a href="{{ url_for('main.analyse') }}">Analyse</a></li><!--
            --><li><a href="{{ url_for('main.label') }}">Labellisation</a></li><!--
            --><li><a href="{{ url_for('main.detec') }}">Détection</a></li><!--
            --><li><a href="{{ url_for('main.histo') }}">Historique</a></li><!--
            --><li><a href="{{ url_for('main.biblio') }}">Bibliothèque</a></li><!--
            --><li><a href="{{ url_for('main.ap') }}">A propos</a></li><!--
            --><li><a href="{{ url_for('auth.logout') }}">Déconnexion</a></li>
        </ul>
    </nav>

    <!-- IMAGE BORD GAUCHE -->
    <img id="Barre" src="{{ url_for('static', filename = 'barre.png') }}" width="5%">

    <!--TITRE-->
    <h1>A propos</h1>

    <!--BLOCK JAUNE-->
    <div id="blockaccueil">
        <p>
            Ce site web a été créé dans le cadre d'un travail universitaire de <a href="http://www.univ-montp3.fr/miap/ens/miashs/master/index.html" style="color:rgb(203,166,7)"><strong>Master 1 MIASHS</strong></a> par Fleur Brun, Pricille Franc, Gaëlle Novales, Théo Oriol et Sarah Ramirez, 
			sous la tutelle de Sébastien Biston-Moulin et Maximilien Servajean.
		</p>
		<p>		
			Ce travail s'inscrit dans le <a href="https://archimede.cnrs.fr/index.php/programmes-technologiques/programme-karnak" style="color:rgb(203,166,7)"><strong>projet Karnak</strong></a>, dirigé par 
			<a href="https://archimede.cnrs.fr/index.php/annuaire/121-annuaire/a-b/226-sebastien-biston-moulin" style="color:rgb(203,166,7)"><strong>Sébastien Biston-Moulin</strong></a> et 
			mené en coopération entre le CNRS, l’Université Paul Valéry et le Ministère de la Culture et de la Communication. 
			Le programme Karnak consiste à recenser et éditer toutes les inscriptions présentes sur les différents monuments du temple de Karnak. 
			Cette démarche a pour but d’aider les égyptologues dans leur travail de recherche et leur permet de disposer d’une base de données 
			de tous les monuments et signes présents dans le temple sous la forme d’une interface web. 
		</p>	
		<p>	
			C’est dans ce contexte que ce site web a été réalisé, comme outil complémentaire proposant deux principales fonctionnalités.
			La première est de fournir aux experts la possibilité de visualiser un hiéroglyphe dans ses différents contextes d'apparition, en identifiant à partir d’une image de hiéroglyphe des images similaires.
			La deuxième fonctionnalité permet de détecter (et reconnaitre) les différents hiéroglyphes présents sur une plaque entière. 
		</p>
		<p>		
			Source des données : Les images récoltées pour mettre en place ces outils proviennent du <a href="http://sith.huma-num.fr/karnak" style="color:rgb(203,166,7)"><strong>temple de Karnak</strong></a> via le site web dédié.
        </p>
    </div>

<div id="espace"></div>

<img class="logo" src="{{ url_for('static', filename = 'logo.png') }}" width="20%" >
      


</body>
</html>