<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Pixoglyphe - Détection</title>
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='style4.css') }}" />
</head>

<body>

    <!-- MENU -->
    <nav>
        <ul>
            <li><a href="{{ url_for('main.accueil') }}">Accueil</a></li><!--
            --><li><a href="{{ url_for('main.analyse') }}">Analyse</a></li><!--
            --><li><a href="{{ url_for('main.label') }}">Labellisation</a></li><!--
            --><li><a href="{{ url_for('main.detec') }}">Détection</a></li><!--
            --><li><a href="{{ url_for('main.histo') }}">Historique</a></li><!--
            --><li><a href="{{ url_for('main.biblio') }}">Bibliothèque</a></li><!--
            --><li><a href="{{ url_for('main.ap') }}">A propos</a></li><!--
            --><li><a href="{{ url_for('auth.logout') }}">Déconnexion</a></li>
        </ul>
    </nav>

    <!-- IMAGE BORD GAUCHE -->
    <img id="Barre" src="{{ url_for('static', filename = 'barre.png') }}" width="5%">

    <!--TITRE-->
    <h1> Détectez des hiéroglyphes</h1>

    <!--BLOCK JAUNE-->
    <div id="blockaccueil">
        <p>
            Afin d'identifier les différents hiéroglyphes présents sur une scène, il vous faut suivre les étapes suivantes :
            <p><strong>Etape 1 : </strong>Sélectionnez une image de la scène dont vous souhaitez identifier les hiéroglyphes; </p>
            <p><strong>Etape 2 : </strong>Lancez l'analyse; </p>
            <p><strong>Etape 3 : </strong>Visualisez les résultats : les différents hiéroglyphes détectés encadrés en rouge ainsi que la prédiction de la classe de chaque hiéroglyphe détecté. </p>
        </p>
    </div>
    
    <!--TITRE ANALYSE-->
    <h2>Je détecte des hiéroglyphes</h2>
    
    <div id="espace"></div>
    
    <!-- BOUTON DETECTION -->
    <div id="bouton">
        <form method=post enctype=multipart/form-data>
            <input type=file name=file class="bouton2">
            <input type=submit value="Lancer l'analyse" class="bouton2">
        </form>
    </div>


      
</body>
</html>