<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Pixoglyphe - Historique</title>
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- MENU -->
    <nav>
        <ul>
            <li><a href="{{ url_for('main.accueil') }}">Accueil</a></li><!--
            --><li><a href="{{ url_for('main.analyse') }}">Analyse</a></li><!--
            --><li><a href="{{ url_for('main.label') }}">Labellisation</a></li><!--
            --><li><a href="{{ url_for('main.histo') }}">Historique</a></li><!--
            --><li><a href="{{ url_for('main.biblio') }}">Bibliothèque</a></li><!--
            --><li><a href="{{ url_for('main.ap') }}">A propos</a></li><!--
            --><li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
        </ul>
    </nav>

    <!-- IMAGE BORD GAUCHE -->
    <img id="Barre" src="{{ url_for('static', filename = 'barre.png') }}" width="5%" >

    <!--TITRE-->
    <h1>Mon historique</h1>

<!--BLOCK JAUNE-->
<div id="blockaccueil">
    <p>
        Retrouvez ici toutes les analyses que vous avez déjà effectuées ainsi que leurs résultats. 
    </p>
</div>
       
</body>
</html>