<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Pixoglyphe - Accueil</title>
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='login10.css') }}" />
</head>

<body >
    <div class=field>
            <h2>Bienvenue sur le site Pixoglyphe</h2>
        </div>

            <div id="espace2"></div>

            <img class="logo" src="{{ url_for('static', filename = 'logo.png') }}" width="10%" >
            
            <div id="espace"></div>

        <div class="fond">

            <div class="titre">
                <div id="espace2"></div>
            <h3 class="title">Je me connecte</h3>
            </div>

            <div id="espace"></div>

        <div class="box">
        
        <form method="POST" action="/">
            <div class="field">
                    <label for="email">E-mail</label>
                <div class="control" >
                    <input id="email" class="input is-large" type="email" name="email" placeholder="exemple@gmail.com" autofocus="">
                </div>
            </div>

            <div id="espace">
            </div>

            <div class="field">
                    <label for="pass">Mot de passe</label>
                <div class="control">
                    <input id="pass" class="input is-large" type="password" name="password" placeholder="**********">
                </div>
            </div>

            <div id="espace">
            </div>

            <div class="field">
            <button class="button is-block is-info is-large is-fullwidth">Se connecter</button>
            </div>

            <div id="espace">
            </div>

            <div class="field">
            <a href="{{ url_for('auth.signup') }}" style="color:orange">Je n'ai pas encore de compte ?</a>
            </div>
            </form>

            <div id="espace">
            </div>

        </div>

        </div>
 
</body>
</html>