<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Pixoglyphe - Accueil</title>
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='login10.css') }}" />
</head>

<body>

{% with messages = get_flashed_messages() %}
{% endwith %}

<form method="POST" action="/signup">
<div class="column is-4 is-offset-4">
    <div class="field">
    <h2>Bienvenue sur le site Pixoglyphe</h2>

    <div id="espace2"></div>

    <img class="logo" src="{{ url_for('static', filename = 'logo.png') }}" width="10%" >
    
    <div id="espace"></div>
</div>
    <div class="fond">

        <div class="titre">
            <div id="espace2"></div>
        <h3 class="title">Je créer mon compte</h3>
        </div>

        <div id="espace">
        </div>
    <div class="box">
        <form method="POST" action="/signup">
            <div class="field">
                    <label for="email">E-mail</label>
                <div class="control">
                    <input id="email" class="input is-large" type="email" name="email" placeholder="exemple@gmail.com" autofocus="">
                </div>
            </div>

            <div id="espace">
            </div>

            <div class="field">
                    <label for="name">Nom</label>
                <div class="control">
                    <input id="name" class="input is-large" type="text" name="name" placeholder="Pseudo" autofocus="">
                </div>
            </div>

            <div id="espace">
            </div>

            <div class="field">
                    <label for="pass">Mot de passe</label>
                <div class="control">
                    <input id="pass" class="input is-large" type="password" name="password" placeholder="**********">
                </div>
            </div>

            <div id="espace">
            </div>

            <div class="field">
            <button class="button is-block is-info is-large is-fullwidth">S'inscrire</button>
            </div>
        </form>
        <div id="espace">
        </div>
    </div>
    </div>
</div>
</body>
</html>