*{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

body{
	border-style: solid;
	border-width: 0px;
    border-color: rgb(80, 80, 78);
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    width: 100% ;
    background-color:rgb(231, 231, 231);
}

/* TITRES ET PARAGRAPHES */

h1 {
    font-size : 27px;
    color:black;
    margin-left: 8%;
    text-align: left;
}

h2 {
    font-size : 23px;
    color:black;
    margin-left: 8%;
    text-align: left;
}

p { 
    width: 92%;
    margin-left: 8%;
}

/* MENU ET STYLE DU MENU */

nav ul{
    padding: 0px;
    margin: 0px;
    list-style-type:none;
    background-color: #1C1C1C;
}

nav li{
    display:inline-block;
    width:18.8%;
    height:30px;
    margin:0px;
    padding:0px;
    border-right:0px solid rgb(231, 231, 231);
    text-align:center;
    line-height: 30px;
    margin-left: 6%;
}

nav li a:hover{
    background-color:rgb(231, 231, 231);
    color:#1C1C1C;
}

nav li a{
    display:block;
    text-decoration:none;
    color:white;
}

/* STYLE DES BLOCS DE COULEUR */

#blockaccueil{
    font-size : 15px;
    color:black;
    margin-left: 0%;
    margin-right: 0%;
    text-align: left;
    background-color: lightgrey;
    padding:1px;
}

#blocklabel{
    font-size : 15px;
    color:black;
    margin-left: 0%;
    margin-right: 0%;
    text-align: left;
    background-color: lightgrey;
    padding: 1px;
}

/* IMAGE BORD GAUCHE */

img{
    float: left;
    margin-right: auto;
    margin-left: 1%;
    margin-top: -30px;
    border-image-repeat: repeat-y;
}
