*{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

body{
	border-style: solid;
	border-width: 0px;
    border-color: rgb(80, 80, 78);
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    width: 100% ;
    /*background-color:white;*/
    /*background-image: url("{{ url_for('static', filename = 'sable.png') }}") ;*/
}

html{
  background-image: url(sand.jpg); /*https://pixabay.com/fr/photos/sable-chameau-d%C3%A9sert-le-caire-3223302/*/
  background-repeat:no-repeat;
  background-position:top left;
}

div.field {
  text-align:center;
  }


h3.title{
text-align:center;
color: white;
margin-top: 10px;
}

#espace{
  height: 30px;
}

#espace2{
  height: 5px;
}

input[type=email] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  background-color: rgb(231, 231, 231);
}

input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  background-color: rgb(231, 231, 231);
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  background-color: rgb(231, 231, 231);
}


#espace{
  font-size : 15px;
  color:black;
  margin-left: 0%;
  margin-right: 0%;
  text-align: left;
  padding:1px;
  height: 30px;
}

div.fond{
  margin-left: 30%;
  margin-right: 30%;
  border-style: solid;
	border-width: 0px;
  border-color: rgb(80, 80, 78);
  box-shadow:8px 8px 12px #aaa;
  background-color: rgb(231, 231, 231);
}

div.titre{
  margin-left: 0%;
  margin-right: 0%;
  height: 50px;
  background-color: black;
  border-style: solid;
	border-width: 0px;
}

#Barre{
  float: left;
  margin-right: auto;
  margin-left: 0%;
  margin-top: -30px;
  border-image-repeat: repeat-y;
}

IMG.logo {
  display: block;
  margin-left: auto;
  margin-right: auto }