<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Pixoglyphe - Accueil</title>
	<link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- MENU -->
    <nav>
        <ul>
            <li><a href="{{ url_for('accueil') }}">Accueil</a></li><!--
            --><li><a href="{{ url_for('analyse') }}">Analyse</a></li><!--
            --><li><a href="{{ url_for('label') }}">Labellisation</a></li><!--
            --><li><a href="{{ url_for('histo') }}">Historique</a></li><!--
            --><li><a href="{{ url_for('biblio') }}">Bibliothèque</a></li><!--
            --><li><a href="{{ url_for('ap') }}">A propos</a></li>
        </ul>
    </nav>

    <!-- IMAGE BORD GAUCHE -->
    <img id="Barre" src="{{ url_for('static', filename = 'barre.png') }}" width="5%">

    <!--TITRE-->
    <h1> Bienvenue sur le site Pixoglyphe</h1>

    <!--BLOCK JAUNE-->
    <div id="blockaccueil">
        <p>
            Le site <i>Pixoglyphe</i> vous permet d'analyser des scènes contenant différents signes hiéroglyphiques. Pour cela, il vous suffit d'importer une image et de lancer l'analyse. L'analyse peut durer quelques minutes et vous permettra de visualiser les différents signes présents sur la scène. Il vous suffira alors de cliquer sur un signe pour obtenir les images similaires. N'oubliez pas, vous pouvez nous aider activement en vous rendant dans l'onglet "Labellisation". 
        </p>
    </div>
    <div id="espace">
    </div>

    <!--ANIMATION https://www.guyom-design.com/blog/astuces/css/tuto_diapo_css/#! -->

    <div class="contenu_carou_auto">
      <div class="caroussel-image">
      <img src="{{ url_for('static', filename = 'D4.jpg') }}" alt>
      <img src="{{ url_for('static', filename = 'D21.png') }}" alt>
      <img src="{{ url_for('static', filename = 'F35.jpg') }}" alt>
      <img src="{{ url_for('static', filename = 'G17.jpg') }}" alt>
      <img src="{{ url_for('static', filename = 'V30.png') }}" alt>
      <img src="{{ url_for('static', filename = 'N35.png') }}" alt>
      <img src="{{ url_for('static', filename = 'M17.jpg') }}" alt>
      <img src="{{ url_for('static', filename = 'X8.jpg') }}" alt>
      </div>
      </div>

   <div id="espace">
    </div>
    
        <p>
            Rendez-vous dans l'onglet "Analyse" !
        </p>

       
</body>
</html>