<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Pixoglyphe - Accueil</title>
    <link rel="stylesheet" href="monstyle.css" />
</head>

<!-- MENU -->
<body>
    <nav>
        <ul>
            <li><a href="Accueil.html">Accueil</a></li><!--
            --><li><a href="Labellisation.html">Labellisation</a></li><!--
            --><li><a href="Historique.html">Historique</a></li><!--
            --><li><a href="Bibliotheque.html">Bibliothèque</a></li>
        </ul>
    </nav>

    <!--<img src="barre.png" height="100%" >-->

<!--
    <svg height = "30px" width = "100%">
        <rect width="100%" height="30" x="0" y="0" stroke="#1C1C1C" stroke-width="3" fill="#1C1C1C" />;
        <rect width="25%" height="30" x="0%" y="0" stroke="rgb(231, 231, 231)" stroke-width="3" fill="rgb(231, 231, 231)" />;

-->
        <!--<polygon points="200 30, 210 0 ,400 0, 410 30  " stroke="rgb(231, 231, 231)" stroke-width="3" fill="rgb(231, 231, 231)"/>;
        <polygon points="500 30, 510 0 ,700 0, 710 30  " stroke="#1C1C1C" stroke-width="3" fill="#1C1C1C" />;-->
<!--
        <text x="10%" y="25" fill="black" font-size="18">Accueil</text>;
        <text x="30%" y="25" fill="white" font-size="18">Labellisation</text>
    </svg> 

-->

<!--TITRE-->
    <h1> Bienvenue sur le site Pixoglyphe</h1>

<!--BLOCK JAUNE-->
    <svg height = "100px", width = "100%">
        <rect width="100%" height="100" x="0" y="0" stroke="orange" stroke-width="3" fill="orange" /> ;
        <text x="100" y="30" fill="black" font-size="10">Blablabalablablabalbaballbababallalabblabajdlbzvhqbvqbvuqbvuqebilbaablablabalablabalbablabalbabalbalabl</text>
    </svg>

<!--TITRE ANALYSE-->
    <p>J'analyse un signe </p>
    <div>
    <form method=post enctype=multipart/form-data>
        <input type=file name=photo>
        <input type=submit value=Upload>
    </form>
</div>
       
</body>
</html>