<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Pixoglyphe - Bibliothèque</title>
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='monstyle2.css') }}">
</head>

<body>

    <!-- MENU -->
    <nav>
        <ul>
            <li><a href="{{ url_for('accueil') }}">Accueil</a></li><!--
            --><li><a href="{{ url_for('label') }}">Labellisation</a></li><!--
            --><li><a href="{{ url_for('histo') }}">Historique</a></li><!--
            --><li><a href="{{ url_for('biblio') }}">Bibliothèque</a></li>
        </ul>
    </nav>

    <!-- IMAGE BORD GAUCHE -->
    <img id="Barre" src="{{ url_for('static', filename = 'barre.png') }}" width="5%" >

    <!--TITRE-->
    <h1> Bibliothèque des signes</h1>

    <!--<img id="img1" src="{{ url_for('static', filename = 'F35.jpg') }}"width="15%" title="F35">-->
    
 <!--BLOCK GRIS-->
 <div id="blockaccueil">
    <p>
        Vous trouverez dans la bibliothèque d'images l'ensemble des signes que le site Pixoglyphe est en capacité de reconnaitre. N'hésitez pas à consulter cette page régulièrement car de nouveaux signes sont voués à y apparaitre grâce à votre aide !
    </p>
</div>

<div id="espace">
</div>

 <!--IMAGES-->

        <div class="gallery">
            <a target="_blank" href="{{ url_for('static', filename = 'D4.jpg') }}">
              <img src="{{ url_for('static', filename = 'D4.jpg') }}" alt="D4" title= "D4" width="200" height="200">
            </a>
            <div class="desc">D4</div>
          </div>
          
          <div class="gallery">
            <a target="_blank" href="{{ url_for('static', filename = 'D21.png') }}">
              <img src="{{ url_for('static', filename = 'D21.png') }}" alt="D21" title= "D21" width="200" height="200">
            </a>
            <div class="desc">D21</div>
          </div>
          
          <div class="gallery">
            <a target="_blank" href="{{ url_for('static', filename = 'F35.jpg') }}">
              <img src="{{ url_for('static', filename = 'F35.jpg') }}" alt="F35" title= "F35" width="200" height="200">
            </a>
            <div class="desc">F35</div>
          </div>
          
          <div class="gallery">
            <a target="_blank" href="{{ url_for('static', filename = 'G17.jpg') }}">
              <img src="{{ url_for('static', filename = 'G17.jpg') }}" alt="G17" title= "G17" width="200" height="200">
            </a>
            <div class="desc">G17</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="{{ url_for('static', filename = 'G43.jpg') }}">
              <img src="{{ url_for('static', filename = 'G43.jpg') }}" alt="G43" title= "G43" width="200" height="200">
            </a>
            <div class="desc">G43</div>
          </div>
          
          <div class="gallery">
            <a target="_blank" href="{{ url_for('static', filename = 'I10.png') }}">
              <img src="{{ url_for('static', filename = 'I10.png') }}" alt="I10" title= "I10" width="200"  height="200">
            </a>
            <div class="desc">I10</div>
          </div>
          
          <div class="gallery">
            <a target="_blank" href="{{ url_for('static', filename = 'M17.jpg') }}">
              <img src="{{ url_for('static', filename = 'M17.jpg') }}" alt="M17" title= "M17" width="200" height="200">
            </a>
            <div class="desc">M17</div>
          </div>
          
          <div class="gallery">
            <a target="_blank" href="{{ url_for('static', filename = 'N35.png') }}">
              <img src="{{ url_for('static', filename = 'N35.png') }}" alt="N35" title= "N35" width="200" height="200">
            </a>
            <div class="desc">N35</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="{{ url_for('static', filename = 'S21.jpg') }}">
              <img src="{{ url_for('static', filename = 'S21.jpg') }}" alt="S21" title= "S21" width="200" height="200">
            </a>
            <div class="desc">S21</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="{{ url_for('static', filename = 'V30.png') }}">
              <img src="{{ url_for('static', filename = 'V30.png') }}" alt="V30" title= "V30" width="200" height="200">
            </a>
            <div class="desc">V30</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="{{ url_for('static', filename = 'X8.jpg') }}">
              <img src="{{ url_for('static', filename = 'X8.jpg') }}" alt="X8" title= "X8" width="200" height="200">
            </a>
            <div class="desc">X8</div>
          </div>


</body>
</html>