<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Pixoglyphe - Bibliothèque</title>
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='monstyle.css') }}">
</head>

<body>

    <!-- MENU -->
    <nav>
        <ul>
            <li><a href="{{ url_for('accueil') }}">Accueil</a></li><!--
            --><li><a href="{{ url_for('label') }}">Labellisation</a></li><!--
            --><li><a href="{{ url_for('histo') }}">Historique</a></li><!--
            --><li><a href="{{ url_for('biblio') }}">Bibliothèque</a></li>
        </ul>
    </nav>

    <!-- IMAGE BORD GAUCHE -->
    <img src="{{ url_for('static', filename = 'barre.png') }}" width="5%" >

    <!--TITRE-->
    <h1> Bibliothèque des signes</h1>


</body>
</html>