<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Pixoglyphe - Accueil</title>
    <link rel="stylesheet" href="monstyle.css" />
</head>

<body>

    <!-- MENU -->
    <nav>
        <ul>
            <li><a href="Accueil.html">Accueil</a></li><!--
            --><li><a href="Labellisation.html">Labellisation</a></li><!--
            --><li><a href="Historique.html">Historique</a></li><!--
            --><li><a href="Bibliotheque.html">Bibliothèque</a></li>
        </ul>
    </nav>

    <!-- IMAGE BORD GAUCHE -->
    <img src="barre.png" width="5%" >

    <!--TITRE-->
    <h1>Mon historique</h1>


       
</body>
</html>