<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Pixoglyphe - Accueil</title>
    <link rel="stylesheet" href="monstyle.css" />
</head>

<body>

    <!-- MENU -->
    <nav>
        <ul>
            <li><a href="Accueil.html">Accueil</a></li><!--
            --><li><a href="Labellisation.html">Labellisation</a></li><!--
            --><li><a href="Historique.html">Historique</a></li><!--
            --><li><a href="Bibliotheque.html">Bibliothèque</a></li>
        </ul>
    </nav>

    <!-- IMAGE BORD GAUCHE -->
    <img src="barre.png" width="5%" >

    <!--TITRE-->
    <h1> Aidez-nous à évoluer activement</h1>

    <!--BLOCK BLEU-->
    <div id="blocklabel">
        <p>
            Afin d’améliorer les performances du site Pixoglyphe et de vous proposer le contenu le plus complet, nous vous proposons de labelliser les images pour lequel nous avons besoin d’aide. C’est grâce à vous que l’outil pourra se développer et s’avérer être de plus en plus efficace. Pour assurer la fiabilité des informations, la labellisation est réservée aux experts et se fait grâce aux code utilisés sur le site Karnak.             
        </p>
        <p><strong>Pensez à labelliser uniquement les signes dont vous êtes certain du code.</strong></p>
    </div>

    <!--TITRE ANALYSE-->
    <h2>Je labellise des images </h2>
       
</body>
</html>