*{
	font-family: "Arial";
}

body{
	border-style: solid;
	border-width: 0px;
    border-color: rgb(80, 80, 78);
    margin-right: auto;
    margin-left: auto;
    width: 100% ;
    background-color:rgb(231, 231, 231);

}

img{
    /*float: left;*/
    margin-right: auto;
    margin-left: auto;
    margin-top: -10px;
}

h1 {
    font-size : 50px;
    color:black;
    margin-left: 10px;
    text-align: center;
}

p {
    width: 100%;
    margin-left: 10px;
}

#intro{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: black;

}
