<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Index</title>
    <link rel="stylesheet" href="monstyle.css" />

</head>
<body>
        <img src="image.jpg" alt="Ma photo" width = 100%;/>

    <h1> KARNAK </h1>
        <div id="intro">Bienvenue sur le site d'identification automatique de hiéroglyphes</div></br>

    <p>Selectionnez une image et validez : </p>

    <td>{{ label }}</td><br>
    <img src="{{ image }}" alt="Main Image" height="150" width="150"><br>

    <p> Images similaires et contexte d'utilisation :</p>

     {% for img_name in results %}
                <tr>
                    <td><img src="data:image/jpg;base64,{{ img_name|safe }}"  height="150" width="150"></td>
                    <!--<td><img src="{{ img_name }}" alt="{{ img_name }}" height="150" width="150"></td>-->
                    <!--<img src="{{url_for('static', filename='{{ img_name }}')}}" />-->
                </tr>
            {% endfor %}
</body>
</html>